<app-navbar></app-navbar>
<div class="profile-component">

<div class="menu-container">
    <div class="settings-icon">
        <i class="fa fa-gear"></i>
    </div>
</div>
    
    
    <div class="profile-pic-container">
        <img src="assets/FILMPOSTER.jpg" class="profile-pic" id="profile-pic">
        <div class="profile-pic-overlay" [routerLink]="['/editprofil']">Profil szerkesztése</div>
</div>
<div class="right-component">
    <h1 class="username">username</h1>
    <div class="number-container">
        <div class="number-component">
            <h2>Mentett filmek:</h2>
            <p class="counter">0</p>
        </div>
        <div class="number-component">
            <h2>Hozzászólásaid:</h2>
            <p class="counter">0</p>
        </div>
    </div>
</div>
</div>
<br>
<br>
<div class="saved-component">
    <h3>Mentett filmek:</h3>
</div>
<div class="small-poster-component">
<img src="assets/FILMPOSTER.jpg" class="small-poster-design">
<img src="assets/FILMPOSTER.jpg" class="small-poster-design">
<img src="assets/FILMPOSTER.jpg" class="small-poster-design">


<div class="browse-component" [routerLink]="['/mainpage']">
    <p class="browse-text">Keress a filmjeink között</p>
</div>

</div>
<br>
<div class="saved-component">
    <h3>Hozzászólásaid:</h3>
</div>
<div class="small-poster-component">
<img src="assets/FILMPOSTER.jpg" class="small-poster-design">
<img src="assets/FILMPOSTER.jpg" class="small-poster-design">


<div class="browse-component" [routerLink]="['/mainpage']">
    <p class="browse-text">Keress a filmjeink között</p>
</div>

</div>

<br>

