
<app-navbar></app-navbar>
<div class="genre-header">
  <h1>{{ genre }}</h1>
</div>
<div class="film-component">
<div class="films">
  <div *ngFor="let movie of movies" class="film-box">
    <img [src]="movie?.cover" class="poster" (click)="movie.movieId !== undefined && showMovieDetails(movie.movieId)">
    <p class="film-title">{{ movie?.title }}</p>
  </div>
  <div *ngIf="loading" class="loading-spinner" style="color: #fff; font-weight: bold;">
    Betöltés...
  </div>
  <div *ngIf="!loading && movies.length === 0" class="no-movies">
    Nincsenek filmek ebben a kategóriában.
  </div>
</div>
</div>







<div class="modal-overlay" *ngIf="showModal" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="closeModal()">&times;</button>
      <br>
      <div class="poster-container2">
        <img [src]="selectedMovie.cover" class="modal-poster" id="overlay">
        <div class="bookmark-icon" (click)="toggleBookmark()">
          <img *ngIf="!isBookmarked" src="assets/bookmark.png" class="bookmark">
          <img *ngIf="isBookmarked" src="assets/bookmarkfilled.png" class="bookmark-filled">
        </div>
      </div>
        <h2>{{ selectedMovie.title }}</h2>
        <div>
          <p class="rating-container-modal">
            <img src="assets/STAR.png" class="rating-modal">
            <span class="rating-number-modal">{{ selectedMovie.averageRating }}</span>
          </p>
        <p class="modal-time">{{ selectedMovie.length }} perc</p>
        <p class="modal-description">{{ selectedMovie.description }}</p>
        <p class="modal-genre" *ngFor="let genre of selectedMovie?.genres">{{ genre?.name }}, </p>
  
        <div *ngIf="selectedMovie.trailerLink">
          
<iframe width="100%" height="350" 
    [src]="sanitizedTrailerLink"
    frameborder="0" 
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen
    class="video">
  </iframe>
        </div>
  
  
        <div class="Kategoriak">
          <div class="category-component" (click)="toggleSidebar('Szereplők')">
              <p class="category-item">Szereplők</p>
          </div>
          
          <div class="category-component" (click)="toggleSidebar('Hasonló filmek')">
              <p class="category-item">Ajánlott filmek</p>
          </div>
      </div>
  
  <!-- Alsó sidebar -->
  <div class="sidebar" *ngIf="isSidebarOpen">
    <div class="sidebar-content">
        <span class="close" (click)="toggleSidebar()">&times;</span>
  
        <!-- sidebar tartalma -->
  
        <div *ngIf="selectedCategory === 'Szereplők'">
            
  <br>
            <div class="actor-director-container">
                <div>
  
                    <h3>Szereplők:</h3>
                    
                    <div class="szereplo-container" *ngFor="let actor of selectedMovie?.actors">
                      <img [src]="actor?.image" class="szereplo-kep">
                      <p class="actor-name">{{ actor?.name }}</p>
                  </div>
                    
                </div>
  
                <div>
                    <h3>Rendezők:</h3>
                    
                    <div class="szereplo-container" *ngFor="let director of selectedMovie?.directors">
                      <img [src]="director?.image" class="szereplo-kep">
                      <p class="actor-name">{{ director?.name }}</p>
                  </div>
                </div>
            </div>
        </div>
  
       
  
  
  
  
        <div *ngIf="selectedCategory === 'Hasonló filmek'">
          <br>
          <div class="films2">
            <div class="film-box2"
                 *ngFor="let movie of similarMovies" (click)="showMovieDetails(movie.movieId)">
              <img [src]="movie.cover" class="poszter2">
              <p class="film-title2">{{ movie.title }}</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  </div>
  </div>
  
  
  