h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #333;
}

.film-component {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-evenly; 
    height: max-content;
    background-color: #333;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 50px;
}

.films {
    display: flex;
    gap: 80px; 
    justify-content: center;
    flex-wrap: wrap;
}

.poster {
    height: 400px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}





.film-box {
    background-color: white; 
    border-radius: 10px; 
    padding: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center; 
    width: 300px; 
    cursor: pointer;
}

.film-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0;
}


@media (min-width: 650px) and (max-width: 768px) {
    .rating-modal {
        height: 20px;
    }
    
    .rating-number-modal {
        font-size: 20px;  
        color: rgb(255, 187, 0);     
        font-weight: bold; 
        margin-top: 3px;
    }
    
    .rating-container-modal {
        display: flex;
        align-items: center;  
        justify-content: start;  
        gap: 5px;  
    }
    
    .modal-genre {
        display: inline;
        line-height: 1.6;
        color: #444;
      }

      .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1001;
      }
      
      .modal-content {
        background: white;
        padding: 30px;
        border-radius: 10px;
        max-width: 800px;
        width: 100%;
        position: relative;
        max-height: 90vh;
        overflow-y: auto;
      }
      
      .modal-poster {
        width: 100%;
        max-height: 950px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 15px;
      }
      
      .close-btn {
        position: absolute;      
        top: 0;
        right: 1.5rem;
        background: #333;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 4px;
        font-size: 20px;
        rotate: 90deg;
        z-index: 1000;           
    }
      
      .modal-time {
        color: #666;
        font-size: 0.9em;
        margin: 10px 0;
      }
      
      .modal-description {
        line-height: 1.6;
        color: #444;
      }

      .Kategoriak {
        display: flex;
        justify-content: space-between; /* egyenlő térköz */
        gap: 1rem; /* ha szeretnél némi távolságot is */
        padding: 1rem;
    }
    
    .category-component {
        flex: 1;
        text-align: center;
        background-color: #333;
        padding: 1rem;
        border-radius: 8px;
        color: whitesmoke;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .category-component:hover {
        background-color: #646464;
    }
    
    .category-item {
        margin: 0;
        font-weight: bold;
    }

    .actor-director-container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        padding: 1rem 0;
    }
    
    .actor-director-container > div {
        flex: 1;
    }
    
    .szereplo-container {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        gap: 1rem;
    }
    
    .szereplo-kep {
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 6px;
    }
    
    .actor-name {
        margin: 0;
        font-weight: 500;
    }
    
    .close {
        position: absolute;
        right: 1rem;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: #333;
        z-index: 1000;
    }

    .star-container {
        text-align: center;
    }

    .rate {
        height: 100px;
    }

    .rating-number2 {
        color: rgb(255, 187, 0);
        font-weight: bold;
    }

    .rateing-container2 {
        text-align: center;
    }
    
    .film-box:hover {
        transform: scale(1.05);
    }
    
    .films2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
        background-color: #333; /* a képen sötétszürke háttér volt */
        border-radius: 20px;
    }
    
    .film-box2 {
        background: white;
        padding: 1rem;
        border-radius: 10px;
        width: 180px;
        height: 250px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease;
    }
    
    .poszter2 {
        width: 100%;
        height: auto;
        border-radius: 6px;
    }
    
    .film-title {
        font-weight: bold;
        margin-top: 0.2rem;
        font-size: 13px;
    }

    .poster-container2 {
        position: relative;
        width: 100%;
      }
      
      .bookmark-icon {
        position: absolute;
        top: 0;
        right: 0px;
        cursor: pointer;
        color: #fff;
      }
      
      .bookmark {
        width: 100px;
        height: 100px;
        background-color: #333;
        padding-bottom: 10px;
        padding-top: 5px;
        border-radius: 10px;
        border: 2px solid #fff;
      }

      .bookmark-filled {
        width: 100px;
        height: 100px;
        background-color: #333;
        padding-bottom: 10px;
        padding-top: 5px;
        border-radius: 10px;
        border: 2px solid #fff;
      }



    .poster {
        height: 130px;
        width: auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .film-box {
        background-color: white; 
        padding: 5px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        text-align: center; 
        width: 100px; 
        cursor: pointer;
    }

    .films {
        display: flex;
        gap: 20px; 
        justify-content: center;
        flex-wrap: wrap;
    }

    .film-title {
        font-size: 10px;
        font-weight: bold;
        color: #333;
        margin: 0;
    }    
    
    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        color: #333;
    }

    .rating {
        height: 20px;
    }
    
    .rating-number {
        font-size: 20px;  
        color: rgb(255, 187, 0);     
        font-weight: bold; 
        margin-top: 3px;
    }
    
    .rating-container {
        display: flex;
        align-items: center;  
        justify-content: start;  
        gap: 5px;  
    }
}

@media (min-width: 1600px) and (max-width: 2000px) {
    .rating-modal {
        height: 20px;
    }
    
    .rating-number-modal {
        font-size: 20px;  
        color: rgb(255, 187, 0);     
        font-weight: bold; 
        margin-top: 3px;
    }
    
    .rating-container-modal {
        display: flex;
        align-items: center;  
        justify-content: start;  
        gap: 5px;  
    }

    .modal-genre {
        display: inline;
        line-height: 1.6;
        color: #444;
      }

    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 50px;
        color: #333;
    }
    
    .film-component {
        display: flex;
        gap: 20px;
        align-items: flex-start;
        justify-content: space-evenly;
        height: max-content;
        background-color: #333;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 25px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        padding: 50px;
    }
    
    .films {
        display: flex;
        gap: 80px; 
        justify-content: center;
        flex-wrap: wrap; 
    }
    
    .poster {
        height: 350px;
        width: auto;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    
    
    









    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1001;
      }
      
      .modal-content {
        background: white;
        padding: 30px;
        border-radius: 10px;
        max-width: 800px;
        width: 100%;
        position: relative;
        max-height: 90vh;
        overflow-y: auto;
      }
      
      .modal-poster {
        width: 100%;
        max-height: 950px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 15px;
      }
      
      .close-btn {
        position: absolute;      
        top: 0;
        right: 1.5rem;
        background: #333;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 4px;
        font-size: 20px;
        rotate: 90deg;
        z-index: 1000;           
    }
      
      .modal-time {
        color: #666;
        font-size: 0.9em;
        margin: 10px 0;
      }
      
      .modal-description {
        line-height: 1.6;
        color: #444;
      }

      .Kategoriak {
        display: flex;
        justify-content: space-between; /* egyenlő térköz */
        gap: 1rem; /* ha szeretnél némi távolságot is */
        padding: 1rem;
    }
    
    .category-component {
        flex: 1;
        text-align: center;
        background-color: #333;
        padding: 1rem;
        border-radius: 8px;
        color: whitesmoke;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .category-component:hover {
        background-color: #646464;
    }
    
    .category-item {
        margin: 0;
        font-weight: bold;
    }

    .actor-director-container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        padding: 1rem 0;
    }
    
    .actor-director-container > div {
        flex: 1;
    }
    
    .szereplo-container {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        gap: 1rem;
    }
    
    .szereplo-kep {
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 6px;
    }
    
    .actor-name {
        margin: 0;
        font-weight: 500;
    }
    
    .close {
        position: absolute;
        right: 1rem;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: #333;
        z-index: 1000;
    }

    .star-container {
        text-align: center;
    }

    .rate {
        height: 100px;
    }

    .rating-number2 {
        color: rgb(255, 187, 0);
        font-weight: bold;
    }

    .rateing-container2 {
        text-align: center;
    }
    
    .film-box:hover {
        transform: scale(1.05);
    }
    
    .films2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
        background-color: #333; /* a képen sötétszürke háttér volt */
        border-radius: 20px;
    }
    
    .film-box2 {
        background: white;
        padding: 1rem;
        border-radius: 10px;
        width: 180px;
        height: 250px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease;
    }
    
    .poszter2 {
        width: 100%;
        height: auto;
        border-radius: 6px;
    }
    
    .film-title {
        font-weight: bold;
        margin-top: 0.2rem;
        font-size: 13px;
    }

    .poster-container2 {
        position: relative;
        width: 100%;
      }
      
      .bookmark-icon {
        position: absolute;
        top: 0;
        right: 0px;
        cursor: pointer;
        color: #fff;
      }
      
      .bookmark {
        width: 100px;
        height: 100px;
        background-color: #333;
        padding-bottom: 10px;
        padding-top: 5px;
        border-radius: 10px;
        border: 2px solid #fff;
      }

      .bookmark-filled {
        width: 100px;
        height: 100px;
        background-color: #333;
        padding-bottom: 10px;
        padding-top: 5px;
        border-radius: 10px;
        border: 2px solid #fff;
      }





























    
    .film-box {
        background-color: white; 
        border-radius: 10px; 
        padding: 10px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
        text-align: center; 
        width: 260px; 
        cursor: pointer;
    }
    
    .film-title {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        margin: 0;
    }
    
    .rating {
        height: 20px;
    }
    
    .rating-number {
        font-size: 20px;  
        color: rgb(255, 187, 0);     
        font-weight: bold; 
        margin-top: 3px;
    }
    
    .rating-container {
        display: flex;
        align-items: center;  
        justify-content: start;  
        gap: 5px;  
    }
    
    .rateing-container{
        background-color: #333;
        margin-top: 1%;
        width: 30%;
        margin-left: 34%;
        border-radius: 25px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
}


@media (min-width: 1400px) and (max-width: 1599px) {
    .rating-modal {
        height: 20px;
    }
    
    .rating-number-modal {
        font-size: 20px;  
        color: rgb(255, 187, 0);     
        font-weight: bold; 
        margin-top: 3px;
    }
    
    .rating-container-modal {
        display: flex;
        align-items: center;  
        justify-content: start;  
        gap: 5px;  
    }

    .modal-genre {
        display: inline;
        line-height: 1.6;
        color: #444;
      }

      .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1001;
      }
      
      .modal-content {
        background: white;
        padding: 30px;
        border-radius: 10px;
        max-width: 800px;
        width: 100%;
        position: relative;
        max-height: 90vh;
        overflow-y: auto;
      }
      
      .modal-poster {
        width: 100%;
        max-height: 950px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 15px;
      }
      
      .close-btn {
        position: absolute;      
        top: 0;
        right: 1.5rem;
        background: #333;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 4px;
        font-size: 20px;
        rotate: 90deg;
        z-index: 1000;           
    }
      
      .modal-time {
        color: #666;
        font-size: 0.9em;
        margin: 10px 0;
      }
      
      .modal-description {
        line-height: 1.6;
        color: #444;
      }

      .Kategoriak {
        display: flex;
        justify-content: space-between; /* egyenlő térköz */
        gap: 1rem; /* ha szeretnél némi távolságot is */
        padding: 1rem;
    }
    
    .category-component {
        flex: 1;
        text-align: center;
        background-color: #333;
        padding: 1rem;
        border-radius: 8px;
        color: whitesmoke;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .category-component:hover {
        background-color: #646464;
    }
    
    .category-item {
        margin: 0;
        font-weight: bold;
    }

    .actor-director-container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        padding: 1rem 0;
    }
    
    .actor-director-container > div {
        flex: 1;
    }
    
    .szereplo-container {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        gap: 1rem;
    }
    
    .szereplo-kep {
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 6px;
    }
    
    .actor-name {
        margin: 0;
        font-weight: 500;
    }
    
    .close {
        position: absolute;
        right: 1rem;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: #333;
        z-index: 1000;
    }

    .star-container {
        text-align: center;
    }

    .rate {
        height: 100px;
    }

    .rating-number2 {
        color: rgb(255, 187, 0);
        font-weight: bold;
    }

    .rateing-container2 {
        text-align: center;
    }
    
    .film-box:hover {
        transform: scale(1.05);
    }
    
    .films2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
        background-color: #333; /* a képen sötétszürke háttér volt */
        border-radius: 20px;
    }
    
    .film-box2 {
        background: white;
        padding: 1rem;
        border-radius: 10px;
        width: 180px;
        height: 250px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease;
    }
    
    .poszter2 {
        width: 100%;
        height: auto;
        border-radius: 6px;
    }
    
    .film-title {
        font-weight: bold;
        margin-top: 0.2rem;
        font-size: 13px;
    }

    .poster-container2 {
        position: relative;
        width: 100%;
      }
      
      .bookmark-icon {
        position: absolute;
        top: 0;
        right: 0px;
        cursor: pointer;
        color: #fff;
      }
      
      .bookmark {
        width: 100px;
        height: 100px;
        background-color: #333;
        padding-bottom: 10px;
        padding-top: 5px;
        border-radius: 10px;
        border: 2px solid #fff;
      }

      .bookmark-filled {
        width: 100px;
        height: 100px;
        background-color: #333;
        padding-bottom: 10px;
        padding-top: 5px;
        border-radius: 10px;
        border: 2px solid #fff;
      }


    .poster {
        height: 300px;
        width: auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .film-box {
        background-color: white; 
        padding: 10px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        text-align: center; 
        width: 230px; 
        cursor: pointer;
    }

    .films {
        display: flex;
        gap: 50px; 
        justify-content: center;
        flex-wrap: wrap;
    }

    .film-title {
        font-size: 15px;
        font-weight: bold;
        color: #333;
        margin: 0;
        padding-top: 5px;
    }    
    
    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: #333;
    }

    .rating {
        height: 20px;
    }
    
    .rating-number {
        font-size: 20px;  
        color: rgb(255, 187, 0);     
        font-weight: bold; 
        margin-top: 3px;
    }
    
    .rating-container {
        display: flex;
        align-items: center;  
        justify-content: start;  
        gap: 5px;  
    }
}

@media (min-width: 1000px) and (max-width: 1399px) {
    .rating-modal {
        height: 20px;
    }
    
    .rating-number-modal {
        font-size: 20px;  
        color: rgb(255, 187, 0);     
        font-weight: bold; 
        margin-top: 3px;
    }
    
    .rating-container-modal {
        display: flex;
        align-items: center;  
        justify-content: start;  
        gap: 5px;  
    }

    .modal-genre {
        display: inline;
        line-height: 1.6;
        color: #444;
      }

      .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1001;
      }
      
      .modal-content {
        background: white;
        padding: 30px;
        border-radius: 10px;
        max-width: 800px;
        width: 100%;
        position: relative;
        max-height: 90vh;
        overflow-y: auto;
      }
      
      .modal-poster {
        width: 100%;
        max-height: 950px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 15px;
      }
      
      .close-btn {
        position: absolute;      
        top: 0;
        right: 1.5rem;
        background: #333;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 4px;
        font-size: 20px;
        rotate: 90deg;
        z-index: 1000;           
    }
      
      .modal-time {
        color: #666;
        font-size: 0.9em;
        margin: 10px 0;
      }
      
      .modal-description {
        line-height: 1.6;
        color: #444;
      }

      .Kategoriak {
        display: flex;
        justify-content: space-between; /* egyenlő térköz */
        gap: 1rem; /* ha szeretnél némi távolságot is */
        padding: 1rem;
    }
    
    .category-component {
        flex: 1;
        text-align: center;
        background-color: #333;
        padding: 1rem;
        border-radius: 8px;
        color: whitesmoke;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .category-component:hover {
        background-color: #646464;
    }
    
    .category-item {
        margin: 0;
        font-weight: bold;
    }

    .actor-director-container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        padding: 1rem 0;
    }
    
    .actor-director-container > div {
        flex: 1;
    }
    
    .szereplo-container {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        gap: 1rem;
    }
    
    .szereplo-kep {
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 6px;
    }
    
    .actor-name {
        margin: 0;
        font-weight: 500;
    }
    
    .close {
        position: absolute;
        right: 1rem;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: #333;
        z-index: 1000;
    }

    .star-container {
        text-align: center;
    }

    .rate {
        height: 100px;
    }

    .rating-number2 {
        color: rgb(255, 187, 0);
        font-weight: bold;
    }

    .rateing-container2 {
        text-align: center;
    }
    
    .film-box:hover {
        transform: scale(1.05);
    }
    
    .films2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
        background-color: #333; /* a képen sötétszürke háttér volt */
        border-radius: 20px;
    }
    
    .film-box2 {
        background: white;
        padding: 1rem;
        border-radius: 10px;
        width: 180px;
        height: 250px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease;
    }
    
    .poszter2 {
        width: 100%;
        height: auto;
        border-radius: 6px;
    }
    
    .film-title {
        font-weight: bold;
        margin-top: 0.2rem;
        font-size: 13px;
    }

    .poster-container2 {
        position: relative;
        width: 100%;
      }
      
      .bookmark-icon {
        position: absolute;
        top: 0;
        right: 0px;
        cursor: pointer;
        color: #fff;
      }
      
      .bookmark {
        width: 100px;
        height: 100px;
        background-color: #333;
        padding-bottom: 10px;
        padding-top: 5px;
        border-radius: 10px;
        border: 2px solid #fff;
      }

      .bookmark-filled {
        width: 100px;
        height: 100px;
        background-color: #333;
        padding-bottom: 10px;
        padding-top: 5px;
        border-radius: 10px;
        border: 2px solid #fff;
      }




    .poster {
        height: 200px;
        width: auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .film-box {
        background-color: white; 
        padding: 10px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        text-align: center; 
        width: 160px; 
        cursor: pointer;
    }

    .films {
        display: flex;
        gap: 50px; 
        justify-content: center;
        flex-wrap: wrap;
    }

    .film-title {
        font-size: 13px;
        font-weight: bold;
        color: #333;
        margin: 0;
        padding-top: 5px;
    }    
    
    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: #333;
    }

    .rating {
        height: 20px;
    }
    
    .rating-number {
        font-size: 20px;  
        color: rgb(255, 187, 0);     
        font-weight: bold; 
        margin-top: 3px;
    }
    
    .rating-container {
        display: flex;
        align-items: center;  
        justify-content: start;  
        gap: 5px;  
    }
}

@media (min-width: 769px) and (max-width: 999px) {

    .rating-modal {
        height: 20px;
    }
    
    .rating-number-modal {
        font-size: 20px;  
        color: rgb(255, 187, 0);     
        font-weight: bold; 
        margin-top: 3px;
    }
    
    .rating-container-modal {
        display: flex;
        align-items: center;  
        justify-content: start;  
        gap: 5px;  
    }

    .modal-genre {
        display: inline;
        line-height: 1.6;
        color: #444;
      }

      .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1001;
      }
      
      .modal-content {
        background: white;
        padding: 30px;
        border-radius: 10px;
        max-width: 800px;
        width: 100%;
        position: relative;
        max-height: 90vh;
        overflow-y: auto;
      }
      
      .modal-poster {
        width: 100%;
        max-height: 950px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 15px;
      }
      
      .close-btn {
        position: absolute;      
        top: 0;
        right: 1.5rem;
        background: #333;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 4px;
        font-size: 20px;
        rotate: 90deg;
        z-index: 1000;           
    }
      
      .modal-time {
        color: #666;
        font-size: 0.9em;
        margin: 10px 0;
      }
      
      .modal-description {
        line-height: 1.6;
        color: #444;
      }

      .Kategoriak {
        display: flex;
        justify-content: space-between; /* egyenlő térköz */
        gap: 1rem; /* ha szeretnél némi távolságot is */
        padding: 1rem;
    }
    
    .category-component {
        flex: 1;
        text-align: center;
        background-color: #333;
        padding: 1rem;
        border-radius: 8px;
        color: whitesmoke;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .category-component:hover {
        background-color: #646464;
    }
    
    .category-item {
        margin: 0;
        font-weight: bold;
    }

    .actor-director-container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        padding: 1rem 0;
    }
    
    .actor-director-container > div {
        flex: 1;
    }
    
    .szereplo-container {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        gap: 1rem;
    }
    
    .szereplo-kep {
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 6px;
    }
    
    .actor-name {
        margin: 0;
        font-weight: 500;
    }
    
    .close {
        position: absolute;
        right: 1rem;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: #333;
        z-index: 1000;
    }

    .star-container {
        text-align: center;
    }

    .rate {
        height: 100px;
    }

    .rating-number2 {
        color: rgb(255, 187, 0);
        font-weight: bold;
    }

    .rateing-container2 {
        text-align: center;
    }
    
    .film-box:hover {
        transform: scale(1.05);
    }
    
    .films2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
        background-color: #333; /* a képen sötétszürke háttér volt */
        border-radius: 20px;
    }
    
    .film-box2 {
        background: white;
        padding: 1rem;
        border-radius: 10px;
        width: 180px;
        height: 250px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease;
    }
    
    .poszter2 {
        width: 100%;
        height: auto;
        border-radius: 6px;
    }
    
    .film-title {
        font-weight: bold;
        margin-top: 0.2rem;
        font-size: 13px;
    }

    .poster-container2 {
        position: relative;
        width: 100%;
      }
      
      .bookmark-icon {
        position: absolute;
        top: 0;
        right: 0px;
        cursor: pointer;
        color: #fff;
      }
      
      .bookmark {
        width: 100px;
        height: 100px;
        background-color: #333;
        padding-bottom: 10px;
        padding-top: 5px;
        border-radius: 10px;
        border: 2px solid #fff;
      }

      .bookmark-filled {
        width: 100px;
        height: 100px;
        background-color: #333;
        padding-bottom: 10px;
        padding-top: 5px;
        border-radius: 10px;
        border: 2px solid #fff;
      }















    .poster {
        height: 140px;
        width: auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .film-box {
        background-color: white; 
        padding: 5px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        text-align: center; 
        width: 110px; 
        cursor: pointer;
    }

    .films {
        display: flex;
        gap: 50px; 
        justify-content: center;
        flex-wrap: wrap;
    }

    .film-title {
        font-size: 10px;
        font-weight: bold;
        color: #333;
        margin: 0;
        padding-top: 5px;
    }    
    
    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: #333;
    }

    .rating {
        height: 20px;
    }
    
    .rating-number {
        font-size: 20px;  
        color: rgb(255, 187, 0);     
        font-weight: bold; 
        margin-top: 3px;
    }
    
    .rating-container {
        display: flex;
        align-items: center;  
        justify-content: start;  
        gap: 5px;  
    }
}