<app-navbar></app-navbar>
<div *ngIf="genre === 'Vígjáték'"></div>
<h1>Vígjáték</h1>
<div class="film-component">
    <div class="films">
 
        <div class="film-box" [routerLink]="['/toldi']">
            <img src="assets/FILMPOSTER.jpg" class="poster">
            <p class="film-title">FILM</p>
        </div>
    
        <div class="film-box">
            <img src="assets/FILMPOSTER.jpg" class="poster">
            <p class="film-title">FILM</p>
        </div>
  
        <div class="film-box">
            <img src="assets/FILMPOSTER.jpg" class="poster">
            <p class="film-title">FILM</p>
        </div>
 
        <div class="film-box">
            <img src="assets/FILMPOSTER.jpg" class="poster">
            <p class="film-title">FILM</p>
        </div>
        <div class="films">
          
            <div class="film-box">
                <img src="assets/FILMPOSTER.jpg" class="poster">
                <p class="film-title">FILM</p>
            </div>
     
            <div class="film-box">
                <img src="assets/FILMPOSTER.jpg" class="poster">
                <p class="film-title">FILM</p>
            </div>
       
            <div class="film-box">
                <img src="assets/FILMPOSTER.jpg" class="poster">
                <p class="film-title">FILM</p>
            </div>
         
            <div class="film-box">
                <img src="assets/FILMPOSTER.jpg" class="poster">
                <p class="film-title">FILM</p>
            </div>
    </div>
</div>
</div>


