<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="overlay" [class.active]="activeSidebar" (click)="closeSidebar()"></div>

<header>
    <div class="header-container">
        <a [routerLink]="['/mainpage']" class="logo">
            <img src="assets/Logo.png" alt="Logo" class="logo">
        </a>
        <input
            type="text"
            placeholder="Keresés"
            class="search-bar"
            [(ngModel)]="searchQuery"
            (keyup.enter)="startSearch()" >
        <nav>
            <ul class="menu">
                <li><a [routerLink]="['/bestrated']" routerLinkActive="active">Legjobb értékelés</a></li>
                <li><a [routerLink]="['/newrelease']" routerLinkActive="active">Legújabb megjelenések</a></li>
                <li><a [routerLink]="['/category']" routerLinkActive="active">Kategóriák</a></li>
            </ul>
        </nav>
        <div class="user-icon-container">
            <div class="user-profile-link" *ngIf="isLoggedIn">
                <a [routerLink]="['/profil']" routerLinkActive="active" class="user-icon-link">
                    <i class="fas fa-user-circle"></i>
                </a>
            </div>

            <div class="user-icon-link" *ngIf="!isLoggedIn" (click)="toggleSidebar('attekintes')">
                <i class="fas fa-user-circle"></i>
            </div>
        </div>

        <div class="sidebar" [class.active]="activeSidebar === 'attekintes'" *ngIf="!isLoggedIn">
            <h2>{{ showLoginForm ? 'Bejelentkezés' : 'Regisztráció' }}</h2>

            <form *ngIf="!showLoginForm" (ngSubmit)="onRegisterSubmit($event)">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Adj meg egy email címet" [(ngModel)]="registrationData.email" required>
                </div>
                <div class="form-group">
                    <label for="username">Felhasználónév:</label>
                    <input type="text" id="username" name="username" placeholder="Adj meg egy felhasználónevet" [(ngModel)]="registrationData.username" required>
                </div>
                <div class="form-group password-input">
                    <label for="password">Jelszó:</label>
                    <input [type]="passwordVisible ? 'text' : 'password'" id="password" name="password" placeholder="Adj meg egy jelszót" [(ngModel)]="registrationData.password" required>
                    <i class="fas" [class.fa-eye]="!passwordVisible" [class.fa-eye-slash]="passwordVisible" (click)="togglePasswordVisibility()"></i>
                </div>
                <div class="password-requirements" *ngIf="registrationData.password">
                    <div *ngIf="registrationData.password.length < 8"><i class="fas fa-exclamation-circle"></i> A jelszónak legalább 8 karakter hosszúnak kell lennie.</div>
                    <div *ngIf="!registrationData.password.match('\\d')"><i class="fas fa-exclamation-circle"></i> A jelszónak tartalmaznia kell legalább egy számot.</div>
                    <div *ngIf="!registrationData.password.match('[^a-zA-Z0-9\\s]')"><i class="fas fa-exclamation-circle"></i> A jelszónak tartalmaznia kell legalább egy speciális karaktert.</div>
                </div>
                <div class="form-group password-input">
                    <label for="confirm-password">Jelszó megerősítése:</label>
                    <input [type]="confirmPasswordVisible ? 'text' : 'password'" id="confirm-password" name="confirm-password" placeholder="Erősítsd meg a jelszavad" [(ngModel)]="registrationData.confirmPassword" required>
                    <i class="fas" [class.fa-eye]="!confirmPasswordVisible" [class.fa-eye-slash]="confirmPasswordVisible" (click)="toggleConfirmPasswordVisibility()"></i>
                </div>
                <div *ngIf="registrationErrorMessage" class="error-message">{{ registrationErrorMessage }}</div>
                <button type="submit" class="btn">Regisztráció</button>
            </form>

            <form *ngIf="showLoginForm" (ngSubmit)="onLoginSubmit()">
                <div class="form-group">
                    <label for="login-username">Felhasználónév:</label>
                    <input type="text" id="login-username" name="username" placeholder="Add meg a felhasználóneved" [(ngModel)]="loginCredentials.username" required>
                </div>
                <div class="form-group password-input">
                    <label for="login-password">Jelszó:</label>
                    <input [type]="loginPasswordVisible ? 'text' : 'password'" id="login-password" name="password" placeholder="Add meg a jelszavad" [(ngModel)]="loginCredentials.password" required>
                    <i class="fas" [class.fa-eye]="!loginPasswordVisible" [class.fa-eye-slash]="loginPasswordVisible" (click)="toggleLoginPasswordVisibility()"></i>
                </div>
                <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                <button type="submit" class="btn">Bejelentkezés</button>
            </form>

            <p class="login" (click)="toggleForm()">
                {{ showLoginForm ? 'Nincs fiókod? Regisztráció' : 'Már van fiókod? Bejelentkezés' }}
            </p>
        </div>

    </div>
</header>