
<app-navbar></app-navbar>




<section>
    <div class="film-component">
        <a href="javascript:void(0)" (click)="showMovieDetails(mainMovie?.movieId); $event.preventDefault()">
            <img [src]="mainMovie?.cover" class="poster">
        </a>
        <div class="text-content">
            <p class="rating-container">
                <img src="assets/STAR.png" class="rating">
                <span class="rating-number">{{ mainMovie?.roundedRating }}</span>
            </p>
            <p class="title">{{ mainMovie?.title }}</p>
            <br/>
            <p class="description">{{ mainMovie?.description }}</p>
            
            

           
        <br/>
            <p class="descrp">{{ mainMovie?.length }} perc</p>
        <br/>
            <p class="descrp">{{ mainMovie?.releaseYear }}</p>
        </div>

        
        <div class="poster-gallery">
            <div [routerLink]="['/best-rated/5']" class="overlay">
                <span class="overlay-text">Több</span>
            </div>
            <img *ngFor="let movie of galleryMovies; let i = index" 
     [src]="movie.cover" 
     class="small-poster">
        </div>


    </div>
</section>


<section>
    <div class="film-component">
        <a href="javascript:void(0)" (click)="showMovieDetails2(mainMovie2?.movieId); $event.preventDefault()">
            <img [src]="mainMovie2?.cover" class="poster">
        </a>
        <div class="text-content">
            <p class="rating-container">
                <img src="assets/STAR.png" class="rating">
                <span class="rating-number">{{ mainMovie2?.roundedRating }}</span>
            </p>
            <p class="title">{{ mainMovie2?.title }}</p>
            <br/>
            <p class="description">{{ mainMovie2?.description }}</p>
            
            

           
        <br/>
            <p class="descrp">{{ mainMovie2?.length }} perc</p>
        <br/>
            <p class="descrp">{{ mainMovie2?.releaseYear }}</p>
        </div>

        
        <div class="poster-gallery">
            <div [routerLink]="['/best-rated/4']" class="overlay">
                <span class="overlay-text">Több</span>
            </div>
            <img *ngFor="let movie of galleryMovies2; let i = index" 
     [src]="movie.cover" 
     class="small-poster">
        </div>


    </div>
</section>

<section>
    <div class="film-component">
        <a href="javascript:void(0)" (click)="showMovieDetails3(mainMovie3?.movieId); $event.preventDefault()">
            <img [src]="mainMovie3?.cover" class="poster">
        </a>
        <div class="text-content">
            <p class="rating-container">
                <img src="assets/STAR.png" class="rating">
                <span class="rating-number">{{ mainMovie3?.roundedRating }}</span>
            </p>
            <p class="title">{{ mainMovie3?.title }}</p>
            <br/>
            <p class="description">{{ mainMovie3?.description }}</p>
            
            

           
        <br/>
            <p class="descrp">{{ mainMovie3?.length }} perc</p>
        <br/>
            <p class="descrp">{{ mainMovie3?.releaseYear }}</p>
        </div>

        
        <div class="poster-gallery">
            <div [routerLink]="['/best-rated/3']" class="overlay">
                <span class="overlay-text">Több</span>
            </div>
            <img *ngFor="let movie of galleryMovies3; let i = index" 
     [src]="movie.cover" 
     class="small-poster">
        </div>


    </div>
</section>


<section>
    <div class="film-component">
        <a href="javascript:void(0)" (click)="showMovieDetails4(mainMovie4?.movieId); $event.preventDefault()">
            <img [src]="mainMovie4?.cover" class="poster">
        </a>
        <div class="text-content">
            <p class="rating-container">
                <img src="assets/STAR.png" class="rating">
                <span class="rating-number">{{ mainMovie4?.roundedRating }}</span>
            </p>
            <p class="title">{{ mainMovie4?.title }}</p>
            <br/>
            <p class="description">{{ mainMovie4?.description }}</p>
            
            

           
        <br/>
            <p class="descrp">{{ mainMovie4?.length }} perc</p>
        <br/>
            <p class="descrp">{{ mainMovie4?.releaseYear }}</p>
        </div>

        
        <div class="poster-gallery">
            <div [routerLink]="['/best-rated/2']" class="overlay">
                <span class="overlay-text">Több</span>
            </div>
            <img *ngFor="let movie of galleryMovies4; let i = index" 
     [src]="movie.cover" 
     class="small-poster">
        </div>


    </div>
</section>


<section>
    <div class="film-component">
        <a href="javascript:void(0)" (click)="showMovieDetails5(mainMovie5?.movieId); $event.preventDefault()">
            <img [src]="mainMovie5?.cover" class="poster">
        </a>
        <div class="text-content">
            <p class="rating-container">
                <img src="assets/STAR.png" class="rating">
                <span class="rating-number">{{ mainMovie5?.roundedRating }}</span>
            </p>
            <p class="title">{{ mainMovie5?.title }}</p>
            <br/>
            <p class="description">{{ mainMovie5?.description }}</p>
            
            

           
        <br/>
            <p class="descrp">{{ mainMovie5?.length }} perc</p>
        <br/>
            <p class="descrp">{{ mainMovie5?.releaseYear }}</p>
        </div>

        
        <div class="poster-gallery">
            <div [routerLink]="['/best-rated/1']" class="overlay">
                <span class="overlay-text">Több</span>
            </div>
            <img *ngFor="let movie of galleryMovies5; let i = index" 
     [src]="movie.cover" 
     class="small-poster">
        </div>


    </div>
</section>






<!-- Keep ONLY this single modal -->
<div class="modal-overlay" *ngIf="showModal" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="closeModal()">&times;</button>
      <br>
      <div class="poster-container2">
        <img [src]="(selectedMovie || selectedMovie2 || selectedMovie3 || selectedMovie4 || selectedMovie5)?.cover" class="modal-poster" id="overlay">
        <div class="bookmark-icon" (click)="toggleBookmark()">
          <img *ngIf="!isBookmarked" src="assets/bookmark.png" class="bookmark">
          <img *ngIf="isBookmarked" src="assets/bookmarkfilled.png" class="bookmark-filled">
        </div>
      </div>
      <h2>{{ (selectedMovie || selectedMovie2 || selectedMovie3 || selectedMovie4 || selectedMovie5)?.title }}</h2>
      <div>
        <p class="rating-container3">
          <img src="assets/STAR.png" class="rating3">
          <span class="rating-number3">{{ (selectedMovie || selectedMovie2 || selectedMovie3 || selectedMovie4 || selectedMovie5)?.roundedRating }}</span>
        </p>
        <p class="modal-time">{{ (selectedMovie || selectedMovie2 || selectedMovie3 || selectedMovie4 || selectedMovie5)?.length }} perc</p>
        <p class="modal-description">{{ (selectedMovie || selectedMovie2 || selectedMovie3 || selectedMovie4 || selectedMovie5)?.description }}</p>
        <p class="modal-genre" *ngFor="let genre of (selectedMovie || selectedMovie2 || selectedMovie3 || selectedMovie4 || selectedMovie5)?.genres">{{ genre?.name }}, </p>
  
        <div *ngIf="(selectedMovie || selectedMovie2 || selectedMovie3 || selectedMovie4 || selectedMovie5)?.trailerLink">
          <iframe width="100%" height="350" 
            [src]="sanitizedTrailerLink"
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
            class="video">
          </iframe>
        </div>
  
        <div class="Kategoriak">
          <div class="category-component" (click)="toggleSidebar('Szereplők')">
            <p class="category-item">Szereplők</p>
          </div>
         
          <div class="category-component" (click)="toggleSidebar('Hasonló filmek')">
            <p class="category-item">Ajánlott filmek</p>
          </div>
        </div>
  
        <div class="sidebar" *ngIf="isSidebarOpen">
          <div class="sidebar-content">
            <span class="close" (click)="toggleSidebar()">&times;</span>
  
            <div *ngIf="selectedCategory === 'Szereplők'">
                <br>
                <div class="actor-director-container">
                  <div *ngIf="(selectedMovie || selectedMovie2 || selectedMovie3 || selectedMovie4 || selectedMovie5)?.actors">
                    <h3>Szereplők:</h3>
                    <div class="szereplo-container" *ngFor="let actor of (selectedMovie || selectedMovie2 || selectedMovie3 || selectedMovie4 || selectedMovie5)?.actors">
                      <img [src]="actor?.image" class="szereplo-kep">
                      <p class="actor-name">{{ actor?.name }}</p>
                    </div>
                  </div>
                  <div *ngIf="(selectedMovie || selectedMovie2 || selectedMovie3 || selectedMovie4 || selectedMovie5)?.directors">
                    <h3>Rendezők:</h3>
                    <div class="szereplo-container" *ngFor="let director of (selectedMovie || selectedMovie2 || selectedMovie3 || selectedMovie4 || selectedMovie5)?.directors">
                      <img [src]="director?.image" class="szereplo-kep"> <p class="actor-name">{{ director?.name }}</p>
                    </div>
                  </div>
                </div>
              </div>
  
            
  
              <div *ngIf="selectedCategory === 'Hasonló filmek'">
                <br>
                <div class="films2">
                  <div class="film-box2"
                       *ngFor="let movie of similarMovies" (click)="showMovieDetails(movie.movieId)">
                    <img [src]="movie.cover" class="poszter2">
                    <p class="film-title2">{{ movie.title }}</p>
                  </div>
                </div>
              </div>
        
            </div>
          </div>
        </div>
        </div>
        </div>