<app-navbar></app-navbar>
<div class="star-container">
<div class="rateing-container">
    <p class="rating-container">
        <img src="assets/STAR.png" class="rating">
        <span class="rating-number">10</span>
    </p>
</div>
</div>
<div class="film-component">
    <div class="films">
      
        <div class="film-box" [routerLink]="['/toldi']">
            <img src="assets/FILMPOSTER.jpg" class="poster">
            <p class="film-title">FILM</p>
        </div>
       
        <div class="film-box">
            <img src="assets/FILMPOSTER.jpg" class="poster">
            <p class="film-title">FILM</p>
        </div>
    
        <div class="film-box">
            <img src="assets/FILMPOSTER.jpg" class="poster">
            <p class="film-title">FILM</p>
        </div>
        
        <div class="film-box">
            <img src="assets/FILMPOSTER.jpg" class="poster">
            <p class="film-title">FILM</p>
        </div>
        <div class="films">
           
            <div class="film-box">
                <img src="assets/FILMPOSTER.jpg" class="poster">
                <p class="film-title">FILM</p>
            </div>
            
            <div class="film-box">
                <img src="assets/FILMPOSTER.jpg" class="poster">
                <p class="film-title">FILM</p>
            </div>
            
            <div class="film-box">
                <img src="assets/FILMPOSTER.jpg" class="poster">
                <p class="film-title">FILM</p>
            </div>
            
            <div class="film-box">
                <img src="assets/FILMPOSTER.jpg" class="poster">
                <p class="film-title">FILM</p>
            </div>
    </div>
</div>

